@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&family=Montserrat:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap");
* {
  background-color: #282828;
  color: #bebebe; }

a {
  color: #bebebe;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px;
  margin: 15px; }

a:hover {
  background-color: #bebebe;
  color: #282828; }

.dropdown-item {
  background-color: #282828;
  color: #bebebe; }

.indexImg {
  padding: 15px; }

.indexMain {
  padding: 15px; }
  .indexMain__titulo {
    font-family: "EB Garamond", serif;
    text-align: center;
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 7px;
    text-transform: uppercase;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-name: aparecer; }
    @media only screen and (max-width: 768px) {
      .indexMain__titulo {
        font-size: 65px; } }
  .indexMain__texto {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.header__subtitulo {
  font-family: "EB Garamond", serif;
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 20px;
  animation-duration: 4s;
  animation-name: aparecer; }

.video {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px; }

.nosotros__parrafo {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 15px 70px 15px 70px; }
  .nosotros__parrafo p {
    font-size: 22px; }
  @media only screen and (max-width: 768px) {
    .nosotros__parrafo {
      margin: 15px; } }

.tienda {
  background-color: #282828; }

.card {
  font-family: "Montserrat", sans-serif;
  color: #bebebe;
  background-color: #bebebe;
  border: 0px solid #bebebe;
  margin-bottom: 25px; }
  @media only screen and (max-width: 768px) {
    .card {
      background-color: #282828; } }
  .card__header {
    padding: 0;
    margin: 5px; }
    .card__header--font {
      font-weight: 300;
      padding: 10px; }

.btn-outline-primary {
  color: #bebebe;
  border-color: #bebebe;
  font-family: "Montserrat", sans-serif; }

.btn-block:hover {
  background-color: #bebebe;
  color: #282828;
  border-color: #282828; }

.estilo {
  background-color: #282828;
  color: #bebebe;
  text-align: center;
  font-size: 20px; }

.footer {
  display: flex;
  align-items: center; }
  .footer__mail h4 {
    color: #bebebe;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end; }
  .footer__redes {
    display: flex;
    justify-content: space-evenly; }
    @media only screen and (max-width: 768px) {
      .footer__redes {
        justify-content: flex-end;
        padding: 5px; } }
    .footer__redes--logo {
      background-color: #bebebe;
      margin: 5px; }
  .footer__logo {
    display: flex;
    align-items: flex-end;
    justify-content: center; }
    @media only screen and (max-width: 768px) {
      .footer__logo {
        justify-content: flex-end; } }
    .footer__logo img {
      display: flex;
      align-items: flex-end;
      width: 90px; }

.vinosEncabezado {
  display: flex;
  align-items: center;
  padding: 15px; }
  .vinosEncabezado__foto1 {
    display: flex;
    justify-content: flex-end; }
    @media only screen and (max-width: 768px) {
      .vinosEncabezado__foto1 {
        justify-content: center;
        padding: 5px; } }
  .vinosEncabezado__foto2 {
    display: flex;
    justify-content: flex-start; }
    @media only screen and (max-width: 768px) {
      .vinosEncabezado__foto2 {
        justify-content: center;
        padding: 5px; } }

.tabla {
  background-color: #bebebe;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 5px #282828; }
  @media only screen and (max-width: 768px) {
    .tabla {
      display: none; } }
  .tabla th {
    background-color: black;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 10px; }
  .tabla td {
    margin: 5px;
    padding: 20px;
    background-color: #bebebe;
    color: black;
    text-align: center; }
  .tabla__lista {
    list-style-type: none;
    background-color: #bebebe;
    color: black;
    padding: 0;
    margin: 0; }
    .tabla__lista li {
      background-color: #bebebe;
      color: black; }

.tablaInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 30px; }

.contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  font-family: "Montserrat", sans-serif; }
  .contacto__form {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .contacto__form input {
      color: #bebebe;
      display: flex;
      align-items: center;
      margin: 10px;
      padding: 10px; }
    .contacto__form--check {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 10px;
      padding: 5px; }

input:hover {
  background-color: #bebebe;
  color: #282828; }

#residencia {
  margin-left: 20px; }
