@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&family=Montserrat:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap");
* {
  background-color: #282828;
  color: #bebebe;
}

a {
  color: #bebebe;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px;
  margin: 15px;
}

a:hover {
  background-color: #bebebe;
  color: #282828;
}

.dropdown-item {
  background-color: #282828;
  color: #bebebe;
  padding: 5px;
  width: auto;
  font-weight: 500;
}

.dropdown-menu {
  background-color: #282828;
  text-align: center;
  padding: 5px;
}

.indexImg {
  padding: 15px;
}

.indexMain {
  padding: 15px;
}

.indexMain__titulo {
  font-family: "EB Garamond", serif;
  text-align: center;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: 7px;
  text-transform: uppercase;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

@media only screen and (max-width: 768px) {
  .indexMain__titulo {
    font-size: 65px;
  }
}

.indexMain__texto {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header__subtitulo {
  font-family: "EB Garamond", serif;
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 20px;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px;
}

.nosotros__parrafo {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 15px 70px 15px 70px;
}

.nosotros__parrafo p {
  font-size: 22px;
}

@media only screen and (max-width: 768px) {
  .nosotros__parrafo {
    margin: 15px;
  }
}

.tienda {
  background-color: #282828;
}

.card {
  font-family: "Montserrat", sans-serif;
  color: #bebebe;
  background-color: #bebebe;
  border: 0px solid #bebebe;
  margin-bottom: 25px;
}

@media only screen and (max-width: 768px) {
  .card {
    background-color: #282828;
  }
}

.card__header {
  padding: 0;
  margin: 5px;
}

.card__header--font {
  font-weight: 300;
  padding: 10px;
}

.btn-outline-primary {
  color: #bebebe;
  border-color: #bebebe;
  font-family: "Montserrat", sans-serif;
}

.btn-block:hover {
  background-color: #bebebe;
  color: #282828;
  border-color: #282828;
}

.estilo {
  background-color: #282828;
  color: #bebebe;
  text-align: center;
  font-size: 20px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__mail h4 {
  color: #bebebe;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
  .footer__redes {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 5px;
  }
}

.footer__redes--logo {
  background-color: #bebebe;
  margin: 5px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .footer__logo {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.footer__logo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 90px;
}

.footer__dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.vinosEncabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.vinosEncabezado__fotoFicha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .vinosEncabezado__fotoFicha {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px;
  }
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px;
  font-family: "Montserrat", sans-serif;
}

.contacto__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacto__form input {
  color: #bebebe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  padding: 10px;
}

.contacto__form--check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  padding: 5px;
}

input:hover {
  background-color: #bebebe;
  color: #282828;
}

#residencia {
  margin-left: 20px;
}
/*# sourceMappingURL=style.css.map */